Repository iterative/dvc, pull requests merged in 2021-11, with the labels that each got.

#6898 tests: skip based on conditional import on pyarrow
  tests/remotes/hdfs.py
Labels: testing, maintenance

#6901 dependencies: remove python 3.10 restriction for pyarrow
  setup.cfg
Labels: skip-changelog, dependencies

#6902 deps: require chardet as a dependency for azure
  setup.cfg
Labels: testing, ci, dependencies, fs: azure

#6871 exp init: autostage .gitignores, dvc.yaml and params file
  dvc/repo/experiments/init.py
  dvc/scm/base.py
Labels: enhancement, A: experiments

#6908 exp init: minor refactor on way it returns prompted values
  dvc/repo/experiments/init.py
Labels: refactoring, A: experiments, skip-changelog

#6910 exp init: make confirmation prompt at the end similar to others
  dvc/repo/experiments/init.py
Labels: enhancement, ui, A: experiments, skip-changelog

#6866 plots: fix resolve template path bug
  dvc/repo/plots/template.py
  tests/unit/render/test_vega.py
Labels: bugfix

#6906 build: remove numpy restriction
  scripts/build-requirements.txt
Labels: build, skip-changelog

#6872 exp init: ask for command before paths
  dvc/repo/experiments/init.py
Labels: A: experiments

#6924 exp init: hide message about workspace tree on --explicit
  dvc/repo/experiments/init.py
Labels: A: experiments, skip-changelog, bugfix

#6925 exp init: don't try ignoring params file if they have been skipped
  dvc/repo/experiments/init.py
Labels: A: experiments, skip-changelog, bugfix

#6937 deps: bump rich to >=10.13.0
  dvc/ui/__init__.py
  setup.cfg
Labels: dependencies

#6936 webhdfs: expose kerberos and https options
  dvc/config_schema.py
  dvc/fs/webhdfs.py
  setup.cfg
  tests/unit/remote/test_webhdfs.py
Labels: bugfix, fs: webhdfs

#6957 utils: fs: remove unused fs_copy
  dvc/utils/fs.py
  tests/dir_helpers.py
Labels: refactoring, skip-changelog

#6926 exp init: warn for code/data if they don't exist
  dvc/repo/experiments/init.py
Labels: enhancement, A: experiments, skip-changelog

#6971 ostage: don't forget to convert https etags
  dvc/objects/stage.py
Labels: skip-changelog, bugfix

#6972 exp init: hide metrics/plots from worktree on --type=live
  dvc/repo/experiments/init.py
Labels: A: experiments, skip-changelog, bugfix

#6973 exp init: suppress plots if live is selected as a stage type
  dvc/repo/experiments/init.py
Labels: A: experiments, skip-changelog, bugfix

#6888 exp diff: Remove `--old` option.
  dvc/command/experiments.py
  tests/unit/command/test_experiments.py
Labels: enhancement, A: experiments, A: diff/show

#6951 live: Add test for logging images with dvclive
  setup.cfg
  tests/func/test_live.py
Labels: testing, skip-changelog, A: live

#6931 dvc render: Add RENDERERS registry.
  dvc/render/__init__.py
  dvc/render/base.py
  dvc/render/html.py
  dvc/render/image.py
  dvc/render/utils.py
  dvc/render/vega.py
  dvc/repo/plots/__init__.py
  dvc/repo/plots/template.py
  tests/func/plots/test_show.py
  tests/unit/render/test_html.py
  tests/unit/render/test_vega.py
Labels: refactoring, skip-changelog, A: plots

#6954 params: Use `ast.literal_eval` for python params.
  dvc/utils/serialize/_py.py
  tests/unit/utils/serialize/test_python.py
Labels: bugfix

#6900 plots: special chars handling for vega plots paths
  dvc/render/base.py
  tests/unit/render/test_renderer.py
Labels: bugfix, A: plots

#6950 machine:remove help text for irrelevant commands
  dvc/command/machine.py
  tests/unit/command/test_machine.py
Labels: A: executors

#6987 ui.prompt: move prompts from exp init to ui.prompt
  dvc/repo/experiments/init.py
  dvc/ui/prompt.py
  tests/unit/ui/test_prompt.py
Labels: refactoring, ui, A: experiments, skip-changelog

#6996 exp init: interactive mode refactor and simplification
  dvc/repo/experiments/init.py
Labels: refactoring, A: experiments, skip-changelog

#6961 scm: split tracking of to-be git-ignored/git-staged into SCMContext
  dvc/dvcfile.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/init.py
  dvc/repo/reproduce.py
  dvc/repo/scm_context.py
  dvc/repo/stage.py
  dvc/scm/base.py
  dvc/scm/git/__init__.py
  tests/func/test_scm_context.py
  tests/unit/repo/test_scm_context.py
  tests/unit/scm/test_git.py
  tests/unit/scm/test_scm.py
Labels: refactoring, skip-changelog, git

#7000 fs: BaseFileSystem -> FileSystem
  dvc/fs/base.py
  dvc/fs/dvc.py
  dvc/fs/fsspec_wrapper.py
  dvc/fs/git.py
  dvc/fs/local.py
  dvc/fs/repo.py
  dvc/fs/utils.py
  dvc/ignore.py
  dvc/objects/db/base.py
  dvc/objects/db/reference.py
  dvc/objects/file.py
  dvc/objects/reference.py
  dvc/objects/stage.py
  dvc/repo/__init__.py
  dvc/repo/index.py
  dvc/utils/serialize/_common.py
  dvc/utils/strictyaml.py
  tests/unit/fs/test_base.py
  tests/unit/remote/test_base.py
Labels: refactoring, skip-changelog

#6999 build: bump sshfs from 2021.8.1 to 2021.11.2
  setup.cfg
Labels: maintenance

#7003 tests: cover exp init
  dvc/repo/experiments/init.py
  tests/func/experiments/test_init.py
  tests/func/test_analytics.py
  tests/unit/command/test_experiments.py
  tests/utils/__init__.py
Labels: testing, A: experiments, skip-changelog

#7006 exp init: timeout prompts' test
  setup.cfg
  tests/func/experiments/test_init.py
Labels: testing, A: experiments, skip-changelog

#6913 live: Call webbrowser.open
  dvc/repo/live.py
  tests/func/test_live.py
Labels: enhancement, A: live

#7011 scm: remove ignore list
  dvc/repo/__init__.py
  dvc/scm/base.py
  tests/func/test_repo_index.py
Labels: refactoring, skip-changelog

#7013 tests: timeout only on functions, excluding tests fixtures
  tests/func/experiments/test_init.py
Labels: testing, skip-changelog

#7019 exp init: show 'n to omit' on --explicit mode
  dvc/ui/prompt.py
  tests/unit/ui/test_prompt.py
Labels: A: experiments, skip-changelog, bugfix

#6832 plots: collect: provide callable for data resolution
  dvc/repo/plots/__init__.py
Labels: enhancement, external-product, A: plots

#7024 metrics/params diff: catch NoSCMError instead of a broad exception
  dvc/repo/metrics/show.py
  dvc/repo/params/show.py
Labels: refactoring, skip-changelog, git

#7030 exp: respect repo `hardlink_lock` config for the exp scm lock
  dvc/repo/experiments/__init__.py
Labels: A: experiments, bugfix

#7026 scm: remove dependency from DvcException
  dvc/exceptions.py
  dvc/repo/install.py
  dvc/scm/exceptions.py
  dvc/scm/git/__init__.py
  tests/func/test_install.py
Labels: refactoring, skip-changelog

#7033 scm: unified progress reporting in a structured way
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/pull.py
  dvc/repo/experiments/push.py
  dvc/repo/experiments/remove.py
  dvc/scm/__init__.py
  dvc/scm/git/backend/base.py
  dvc/scm/git/backend/dulwich/__init__.py
  dvc/scm/git/backend/gitpython.py
  dvc/scm/git/backend/pygit2.py
  dvc/scm/progress.py
  tests/func/test_external_repo.py
Labels: refactoring, discussion, skip-changelog, git

#7037 scm: remove exp related behaviours from scm.resolve_rev
  dvc/repo/experiments/show.py
  dvc/scm/__init__.py
  dvc/scm/git/__init__.py
  tests/func/experiments/test_experiments.py
Labels: refactoring, skip-changelog, git

#7038 scm: restructure scm
  dvc/analytics.py
  dvc/dvcfile.py
  dvc/external_repo.py
  dvc/info.py
  dvc/repo/__init__.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/branch.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/ls.py
  dvc/repo/experiments/remove.py
  dvc/repo/experiments/show.py
  dvc/repo/experiments/utils.py
  dvc/repo/init.py
  dvc/repo/metrics/show.py
  dvc/repo/params/show.py
  dvc/repo/scm_context.py
  dvc/scm/__init__.py
  dvc/scm/base.py
  dvc/scm/noscm.py
  tests/func/experiments/test_checkpoints.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_remote.py
  tests/func/test_diff.py
  tests/func/test_ls.py
  tests/func/test_scm.py
Labels: refactoring, skip-changelog, git

#7039 scm: remove dependency from dvc's utils in scm
  dvc/repo/scm_context.py
  dvc/scm/git/__init__.py
  dvc/scm/git/backend/dulwich/__init__.py
  dvc/scm/git/backend/gitpython.py
  dvc/scm/git/backend/pygit2.py
Labels: refactoring, skip-changelog, git

#7042 fs.git: refactor GitFileSystem to be fsspec compliant
  .pre-commit-config.yaml
  dvc/fs/git.py
  dvc/fs/scm.py
  dvc/repo/__init__.py
  dvc/repo/brancher.py
  dvc/scm/git/__init__.py
  dvc/scm/git/backend/dulwich/__init__.py
  dvc/scm/git/backend/gitpython.py
  dvc/scm/git/backend/pygit2.py
  dvc/scm/utils.py
  tests/func/experiments/test_experiments.py
  tests/func/test_fs.py
  tests/func/test_ignore.py
Labels: refactoring, skip-changelog, git

#7046 scm: remove dvc specific message; add client kwarg
  dvc/repo/experiments/__init__.py
  dvc/scm/git/__init__.py
Labels: refactoring, skip-changelog, git

#7047 scm: move warning on unsupported index to scmcontext
  dvc/repo/init.py
  dvc/repo/scm_context.py
  dvc/scm/exceptions.py
  dvc/scm/git/backend/gitpython.py
Labels: refactoring, skip-changelog, git

#7016 packages: build binary pkgs with Python 3.9
  .github/workflows/packages.yaml
Labels: build

#6986 gha: allow builds for new 3.9 releases
  .github/workflows/tests.yaml
Labels: build, skip-changelog

#7050 scm: use scmrepo; remove dvc.scm
  dvc/analytics.py
  dvc/command/experiments.py
  dvc/external_repo.py
  dvc/fs/git.py
  dvc/fs/scm.py
  dvc/repo/__init__.py
  dvc/repo/brancher.py
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/experiments/executor/local.py
  dvc/repo/experiments/executor/ssh.py
  dvc/repo/experiments/ls.py
  dvc/repo/experiments/utils.py
  dvc/repo/install.py
  dvc/repo/scm_context.py
  dvc/scm.py
  dvc/scm/asyn.py
  dvc/scm/base.py
  dvc/scm/exceptions.py
  dvc/scm/git/__init__.py
  dvc/scm/git/backend/__init__.py
  dvc/scm/git/backend/base.py
  dvc/scm/git/backend/dulwich/__init__.py
  dvc/scm/git/backend/dulwich/asyncssh_vendor.py
  dvc/scm/git/backend/gitpython.py
  dvc/scm/git/backend/pygit2.py
  dvc/scm/git/objects.py
  dvc/scm/git/stash.py
  dvc/scm/noscm.py
  dvc/scm/progress.py
  dvc/scm/utils.py
  setup.cfg
  tests/dir_helpers.py
  tests/func/metrics/test_diff.py
  tests/func/params/test_diff.py
  tests/func/test_diff.py
  tests/func/test_external_repo.py
  tests/func/test_fs.py
  tests/func/test_ignore.py
  tests/func/test_scm.py
  tests/unit/scm/test_git.py
Labels: refactoring, skip-changelog, git
