Repository iterative/dvc, pull requests merged in 2022-06, with the labels that each got.

#7791 exp: output troubleshooting link on shallow merge failure
  dvc/repo/experiments/apply.py
  dvc/repo/experiments/executor/local.py
  dvc/scm.py
  tests/unit/scm/test_scm.py
Labels: ui, A: experiments

#7811 plots: grouping: stop using dpath.util.search
  dvc/render/match.py
  tests/func/test_live.py
  tests/unit/render/test_match.py
  tests/unit/test_plots.py
Labels: performance, A: plots, release-blocker

#7845 brancher: use scm.root_dir to determine relative cwd
  dvc/repo/brancher.py
  tests/func/test_diff.py
Labels: bugfix

#7786 exp: speed up repro execution with untracked directories in workspace
  dvc/repo/experiments/__init__.py
  dvc/repo/experiments/executor/base.py
  dvc/repo/plots/diff.py
Labels: A: experiments, bugfix

#7856 sshfs: bump min ver to 2022.6.0
  setup.cfg
Labels: bugfix, fs: ssh

#7873 run-cache: fix push from Windows to remote filesystems
  dvc/stage/cache.py
Labels: p1-important, testing, bugfix, A: run-cache

#7874 run-cache: http: restrict uploads/downloads
  dvc/stage/cache.py
  dvc/testing/test_remote.py
Labels: testing, bugfix, A: run-cache

#7882 queue status: use a short rev to represent tasks
  dvc/commands/queue/status.py
  tests/unit/command/test_queue.py
Labels: A: experiments, A: task-queue

#7885 queue worker shutdown: disable restore
  dvc/repo/experiments/queue/local.py
Labels: A: experiments, A: task-queue

#7886 queue remove: add remove support for short revs(#7840)
  dvc/commands/queue/remove.py
  dvc/repo/experiments/queue/base.py
  dvc/repo/experiments/queue/local.py
  dvc/repo/experiments/remove.py
Labels: A: experiments, A: task-queue

#7895 deps: bump dvc-data to 0.0.6; fix imports
  dvc/cli/__init__.py
  dvc/commands/dag.py
  dvc/data_cloud.py
  dvc/dependency/param.py
  dvc/dependency/repo.py
  dvc/fs/data.py
  dvc/output.py
  dvc/repo/__init__.py
  dvc/repo/index.py
  dvc/schema.py
  dvc/stage/__init__.py
  dvc/stage/cache.py
  dvc/stage/loader.py
  dvc/stage/utils.py
  setup.cfg
  tests/func/test_add.py
  tests/func/test_data_cloud.py
  tests/func/test_ignore.py
  tests/func/test_install.py
  tests/func/test_lockfile.py
  tests/func/test_odb.py
  tests/func/test_repo_index.py
  tests/func/test_repro.py
  tests/func/test_run_single_stage.py
  tests/func/test_state.py
  tests/unit/cli/test_main.py
  tests/unit/data/db/test_local.py
  tests/unit/fs/test_data.py
  tests/unit/fs/test_dvc.py
  tests/unit/output/test_local.py
  tests/unit/remote/test_base.py
  tests/unit/repo/test_repo.py
  tests/unit/stage/test_loader_pipeline_file.py
  tests/unit/stage/test_serialize_pipeline_lock.py
  tests/unit/test_hashinfo.py
Labels: dependencies

#7903 queue status: will show the current worker status
  dvc/commands/queue/start.py
  dvc/commands/queue/status.py
  dvc/repo/experiments/queue/local.py
Labels: A: experiments, A: task-queue

#7911 dvc plots: allow for setting output directory via config
  dvc/commands/plots.py
  dvc/config_schema.py
  tests/integration/plots/test_json.py
Labels: feature, A: plots

#7937 render: image_converter: Support slash in revision.
  dvc/render/image_converter.py
  tests/unit/render/test_image_converter.py
Labels: product, bugfix, A: plots

#7953 dvc-task: bump to 0.1.0
  setup.cfg
Labels: maintenance

#7954 build: Downgrade pyinstaller
  scripts/build-requirements.txt
Labels: skip-changelog
