Repository iterative/dvc, pull requests merged in 2022-03, with the labels that each got.

#7424 fs: remove unused connection pool module
  dvc/cli/__init__.py
  dvc/fs/pool.py
  tests/conftest.py
Labels: maintenance, skip-changelog

#7428 Suppress `--live-no-summary` help.
  dvc/commands/stage.py
Labels: skip-changelog, A: live

#7245 exp list: add the new flags (including -A/--all-commits) (#7153)
  dvc/commands/experiments/__init__.py
  dvc/commands/experiments/ls.py
  dvc/commands/experiments/show.py
  dvc/repo/experiments/ls.py
  dvc/repo/experiments/utils.py
  dvc/scm.py
  tests/func/experiments/test_experiments.py
  tests/func/experiments/test_remote.py
  tests/func/experiments/test_show.py
  tests/unit/command/test_experiments.py
Labels: enhancement, A: experiments

#7255 exp push/pull: make all the flags in exp show and exp list support pull/push (#7154)
  dvc/commands/experiments/pull.py
  dvc/commands/experiments/push.py
  dvc/repo/experiments/pull.py
  dvc/repo/experiments/push.py
  tests/func/experiments/test_remote.py
  tests/unit/command/test_experiments.py
Labels: enhancement, A: experiments

#7275 exp remove: rename `--all-commits` flag add a new `rev` flag and unify the collection of revs (#7155)
  dvc/commands/experiments/remove.py
  dvc/repo/experiments/exceptions.py
  dvc/repo/experiments/remove.py
  tests/func/experiments/test_remove.py
  tests/unit/command/test_experiments.py
Labels: A: experiments

#7455 tests: fix test failures with rich==12
  tests/func/experiments/test_init.py
Labels: testing, skip-changelog

#7432 params: allow tracking file
  dvc/dependency/__init__.py
  dvc/dependency/param.py
  dvc/repo/params/show.py
  dvc/stage/serialize.py
  tests/func/params/test_diff.py
  tests/func/params/test_show.py
  tests/func/test_status.py
  tests/unit/dependency/test_params.py
  tests/unit/stage/test_serialize_pipeline_file.py
  tests/unit/stage/test_serialize_pipeline_lock.py
Labels: feature, A: params

#7413 exp init: create params file by default
  dvc/dependency/param.py
  dvc/repo/experiments/init.py
  tests/func/experiments/test_init.py
Labels: enhancement, ui, A: experiments, A: cli

#7479 exp remove: show removed experiments #7449
  dvc/commands/experiments/remove.py
  dvc/repo/experiments/remove.py
  tests/func/experiments/test_remove.py
Labels: ui, A: experiments

#7502 build: pin setuptools to <61
  pyproject.toml
  setup.cfg
Labels: testing, build, skip-changelog

#7486 objects.db: get rid of callbacks from internal _list_paths API
  dvc/data/db/local.py
  dvc/objects/db.py
  tests/unit/remote/test_base.py
Labels: refactoring, skip-changelog, A: object-storage

#7503 deps: bump tqdm
  setup.cfg
Labels: c1-quick-fix, bugfix, dependencies

#7511 bump pytest-docker to 0.11.0
  setup.cfg
Labels: maintenance, skip-changelog, dependencies

#7497 exp init: change ui prompts structure and output
  dvc/commands/experiments/init.py
  dvc/repo/experiments/init.py
  tests/func/experiments/test_init.py
  tests/unit/command/test_experiments.py
Labels: ui, A: experiments, A: cli

#7517 ui: add revision info on dvc.yaml/dvc.lock/.dvc syntax and schema errors
  dvc/utils/strictyaml.py
  tests/func/utils/test_strict_yaml.py
Labels: enhancement, ui

#7520 scmrepo: update to 0.0.16
  setup.cfg
Labels: maintenance

#7529 webdav: consider path to be root
  dvc/fs/__init__.py
  dvc/fs/webdav.py
Labels: refactoring, skip-changelog, fs: webdav
